doctype html
html(lang='en')
  head
    title Gulp Boilerplate
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet' href='./vendor/boostrap/dist/css/bootstrap.min.css')
  body
    .container
      .jumbotron
        h1 Gulp Boilerplate
        p A boilerplate for starting web projects with Gulp.
        a.btn.btn-primary.btn-lg(href='https://github.com/LeungEnterprises/gulp-boilerplate') View on GitHub
