extends /_layout

block config
  - title = "Gulp Boilerplate"
  - description = "Start web projects with ease."

block content
  .container
    .jumbotron
      h1 Gulp Boilerplate
      p A boilerplate for starting web projects with Gulp.
      a.btn.btn-primary.btn-lg(href='https://github.com/LeungEnterprises/gulp-boilerplate') View on GitHub
